<hibernate-configuration>
	<session-factory>
		<!-- Käytä MySQL-tietokantaa ja MariaDB-palvelinta -->
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Yhteyden perustiedot: -->
		<!-- ajuri, palvelimen IP-osoite:portti, tietokannan nimi, käyttäjätunnus, salasana -->
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">
		<!-- Database url here -->
		</property>
		<property name="hibernate.connection.username">
		<!-- Database credentials, username -->
		</property>
		<property name="hibernate.connection.password">
		<!-- Database credentials, password -->
		</property>
		
		<!-- Ekalla kerralla create, ja sitten kun kanta olemassa validate -->
		<property name="hbm2ddl.auto">create</property>

		<!-- kun true, kaiuttaa kaikki SQL-lauseet stdout:iin -->
		<property name="show_sql">false</property>

		<!-- Kirjaa tähän mallitason DTO-oliot, pakkausnimet mukaan -->
		<mapping class="simu.model.Asiakas" />
		<mapping class="simu.model.Statistiikka" />
	</session-factory>
</hibernate-configuration>